.input {
    display: flex;
    width: 95%;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.input_box {
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
    justify-content: space-between;
}

.input_box:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
}

.input_submit_prof {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: #00b398;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
}

.input_submit_course {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    border: none;
    font-size: 15px;
    background-color: #63666a;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
}

.input_submit_prof:hover {
    background-color: #0ac8ac;
}

.input_submit_course:hover {
    background-color: #84878d;;
}

.input_submit:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
}

.container{
    display: flex;
    width: 95%;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 10px;
    margin-right: 10px;
}

.professors {
    display: flex;
    width: 95%;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    background-color: #00b398;
}

.professors_heading {
    font-size: 30px;
    color: white;
}

.courses_heading {
    font-size: 30px;
    color: white;
}

.single_course_heading{
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 18px;
    color: black;
}

.course_credits{
    position: relative;
    font-family: Helvetica, sans-serif;
    width: 150px;
}

.selects {
    margin-top: 0px;
    flex-direction:row;
}

.credit_label {
    margin-right: 10px;
    font-size: 13px;
}

.credit_label select {
    padding: 5px;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 13px;
    margin-left: 10px;
    background-color: #d9d9d6;
    width: 50px;
}

.term_label {
    margin-right: 20px;
    font-size: 13px;
}

.term_label select {
    padding: 5px;
    border: 2px solid white;
    border-radius: 4px;
    font-size: 13px;
    margin-left: 10px;
    background-color: #d9d9d6;
    width: 80px;
}

.credit_amount {
    margin-right:30px;
    font-size: 15px;
}

.professors_single {
    display: flex;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-color: #ceb888;
    border: 2px solid white;
    transition: 0.2s
}

.courses_single {
    display: flex;
    width: 95%;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    margin-top: 15px;
    background-color: #a7a8aa;
    border: 2px solid white;
    transition: 0.2s;
}

.professors_single:hover {
    box-shadow: 0 0 5px black;
    transform: scale(1.03);
}

.courses_single:hover {
    box-shadow: 0 0 5px black;
    transform: scale(1.03);
}

.professors_single-text {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 18px;
}

.courses_single-text {
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
    align-self: flex-start;
}

.professors_single-text:focus {
    outline: none;
}

.courses_single-text:focus {
    outline: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-evenly;
    justify-items: start;
}

.icons-container {
    display: flex;
}

.icon {
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #63666a;
    margin-right: 0px;
    margin-left: auto;
}

.icon_course {
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #63666a;
    margin-right: 0px;
    margin-left: auto;
}

@media (max-width: 1200px) {
    .professors {
        width: 45%
    }
}

@media (max-width: 700px) {
    .input {
        width: 95%;
    }
    .professors {
        width: 95%;
        margin-bottom: 10px;
    }

    .container {
        width: 95%;
        flex-direction: column;
    }
}  

.courses {
    display: flex;
    width: 95%;
    flex-direction: column;
    padding: 15px;
    border-radius: 5px;
    background-color: #63666a;
}

.dragactive {
    background-color: #25cab1;
}

.dragcomplete {
    background-color: #d9d9d6;
}

.drag {
    box-shadow: 0 0 20px black;
}

.csv_button {
    font-size: 15px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 40px;
    color: white;
    text-align: center;
    background-color: #096085;
    border: none;
    padding: 10px 13px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
  }

  .csv_button:hover {
    background-color: #157da9;
  }