.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9d2235;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: #9d2235;
}

.heading{
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 30px;
  color: white;
  z-index: 1;
  text-align: center;
}

.clear_button {
  font-size: 15px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 50px;
  color: white;
  text-align: center;
  background-color: #b79d56;
  border: none;
  padding: 10px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.clear_button:hover {
  background-color: #cfb66f;
}

@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }
}

.inputs {
  display: flex; 
  flex-direction:row;
  width: 95%;
  justify-content: space-between;
  position: relative;
}

.lists{
  display: flex; 
  flex-direction:row;
  width: 95%;
  justify-content: space-between;
  position: relative;
}

.prof_input{
  display: flex; 
  flex-direction:row;
  width: 95%;
  justify-content: space-between;
  position: relative;
}

.course_input{
  display: flex; 
  flex-direction:row;
  width: 95%;
  justify-content: space-between;
  position: relative;
}

.course_list{
  display: flex; 
  flex-direction:row;
  width: 95%;
  justify-content: space-between;
  position: relative;
}

.prof_list{
  display: flex; 
  flex-direction:row;
  width: 95%;
  height: 200px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
}

.buttons {
  display: flex; 
  flex-direction:row;
  width: 22%;
  justify-content: space-between;
  position: relative;
}

@media (max-width: 700px) {
  .inputs {
      width: 95%;
  }
  .lists {
      width: 95%;
  }
} 
